.contenedorSearchBar {
  background-image: url("../../Images/bannerHome.png") !important;
  border-style: solid;
  border: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.input {
  width: 500px;
  height: 30px;
  border: #ffffff;
  align-items: center;
}

.searchBar {
  display: flex;
  justify-content: center;
  border-style: solid;
  border-color: #ffffff;

  margin-bottom: 200px;
  width: fit-content;
}

.titulo {
  margin-top: 200px;
  font-weight: bold;
  font-size: 45px;
  text-align: center;
  color: #ffffff;
}

.button {
  width: 80px;
  align-items: center;
}
