.pagination {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  gap: 12px;
  margin-bottom: 12px;
}

.buttons {
  width: 2rem;
  height: 2rem;
}

.buttonsCointainer {
  display: flex;
  gap: 12px;
}

.active {
  width: 2rem;
  height: 2rem;
  background-color: #fac21c;
  border: 2px solid rgb(255, 243, 173);
}
