.indicatorfilters{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: -moz-fit-content;
  width: 42rem;
  margin: 0 auto;
  margin-top: 10px;
  height: 2rem;
  font-weight: 400;
 

}


.body {
  background-color: whitesmoke !important;
}
.separador {
  height: 1rem;
  background-color: whitesmoke;
}

.AllselectorsContainers {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-top: 2rem;
}

filter2 {
  background-color: whitesmoke;
}

.selectors {
  border: none;
}
