.navContainer {
  display: flex;
  align-items: center;
  background-color: #333;
  color: #fff;
  height: 60px;
}

.imgContainer {
  margin-right: 10px;
}

.icon {
  padding-left: 5px;
  height: 40px;
  width: auto;
}

.allContainer {
  flex: 1;
}

.linkContainer {
  display: flex;
}

.texto {
  margin: 0 10px;
  color: #fff;
  text-decoration: none;
  transition: color 0.3s;
}

.texto:hover {
  color: orange;
}
